# Dependencies
node_modules
.pnpm-store
dist
build
.next
.turbo
coverage
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
!.env.example

# IDE / OS
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Misc
.vercel
*.local
